body{
    text-align: center;
    font-size: .8em;
}

#lezioni.container, #why.container{
    background-color: rgb(242, 242, 205);
}

.container img {

    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

img {
    height: 100px;
}

#why.container img{
    
    background-color: #428bca;
    border-radius: 50%;
    padding: 15px
}



/* UTILITY */

.margin-top{
    margin-top: 1em;
}

.margin-bottom{
    margin-bottom: 1em;
}