body{
    text-align: center;
    font-size: .8em;
    
}

h3{
    line-height: 2;
}

#lezioni.container, #why.container{
    background-color: rgb(242, 242, 205);
}

.container img {

    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

img {
    height: 100px;
}

#why.container img{
    
    background-color: #428bca;
    border-radius: 50%;
    padding: 15px
}

/* MODIFICA 12-COL-FRAMEWORK MEDIA */



@media all and  (min-width:992px){
    body{
        font-size: 1em;
    }
    img {
        height: 200px;
    }
    
    #lezioni.container, #why.container{
            background-color: rgb(250, 250, 250);
    }

}

/* UTILITY */

.margin-top{
    margin-top: 1em;
}

.margin-bottom{
    margin-bottom: 2em;
}